.about {
    padding-top: 70px;
    padding-left: 50px;
    @media (max-width:767px) {
        padding-left: 15px;
        padding-top: 3px;
    }
    &__preview {
        position: relative;
    }

    &__preview-pic {
        & img {
            width: 97%;
            object-fit: cover;
            max-width: 1110px;
            @media (max-width:767px) {
                width: 95%;
            }
            @media (max-width:539px) {
                width: 90%;
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: block;
                }
            }
            &:last-child {
                display: none;
            }
        }
    }

    &__preview-title {
        font-weight: 900;
        font-size: 80px;
        line-height: 93%;
        position: absolute;
        right: 0px;
        top: 22%;
        border-bottom: 5px solid #1B1B1B;
        padding-bottom: 20px;
        @media (max-width:1079px) {
            font-size:calc(30px + 50 * (100vw - 320px) / 860);
        }
        @media (max-width:767px) {
            padding-bottom: 10px;
            border-bottom: 4px solid #1b1b1b;
        }
        @media (max-width:539px) {
            right: 6px;
            top: 30%;
            border-bottom: 2px solid #1b1b1b;
            padding-bottom: 6px;
        }
        & span {
            display: block;
        }
    }

    &__info-list {
        padding-left: 27px;
        padding-top: 34px;
        padding-right: 74px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 29px;
        @media (max-width:1079px) {
            gap: 15px;
        }
        @media (max-width:767px) {
            padding-right: 0px;
            padding-top: 13px;
            padding-left: 12px;
            padding-right: 14px;
            margin-bottom: 35px;
        }
    }

    &__info-lead {
        display: flex;
        align-items: center;
        gap: 16px;
        @media (max-width:1079px) {
            gap: 10px;
        }
        @media (max-width:899px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1px;
        }
        & span {
            display: block;
            font-weight: 500;
            font-size: 20px;
            line-height: 110%;
            @media (max-width:539px) {
                font-size: 10px;
                line-height: 110%;
            }
        }
    }
    &__info-lead-text {
        padding-top: 5px;
        white-space: nowrap;
        @media (max-width:767px) {
            padding-top: 0;
        }
    }
    &__info-lead-number {
        font-weight: 900;
        font-size: 65px;
        line-height: 111%;
        @media (max-width:1079px) {
            font-size: 60px;
        }
        @media (max-width:1023px) {
            font-size:calc(20px + 35 * (100vw - 320px) / 860);
        }
    }

    &__content {
        padding-left: 32px;
        @media (max-width:767px) {
            padding-left: 0px;
        }
    }

    &__content-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 24px;
        @media (max-width:539px) {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 11px;
        }
    }

    &__content-list {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        @media (max-width:539px) {
            gap: 24px;
        }
    }

    &__content-lead {
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        flex: 0 0 23.4%;
        @media (max-width:1199px) {
            flex: 1 0 20%;
        }
        @media (max-width:767px) {
            flex: 0 0 100%;
        }
        @media (max-width:539px) {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
        }
        &:first-child {
            flex: 0 0 20%;
            @media (max-width:1023px) {
                flex: 0 0 26%;
            }
            @media (max-width:767px) {
                flex: 0 0 100%;
            }
        }
        &:nth-child(2) {
            margin-left: 14px;
            @media (max-width:767px) {
                margin-left: 0px;
                color: #5F1798;
            }
        }
        &:nth-child(3) {
            margin-left: 9px;
            @media (max-width:767px) {
                margin-left: 0px;
            }
        }
    }

    &__content-info {
        padding: 58px 40px 157px 18px;
        font-weight: 900;
        font-size: 43px;
        line-height: 101%;
        border: 3px solid #1B1B1B;
        border-radius: 5px;
        flex: 1;
        max-width: 286px;
        @media (max-width:1023px) {
            display: none;
        }
        & span {
            display: block;
            white-space: nowrap;
        }
    }
    &__btn {
        margin-top: -51px;
        max-width: 180px;
        z-index: 1;
        position: relative;
        @media (max-width:1023px) {
            margin-top: 10px;
        }
        @media (max-width:539px) {
            margin-top: 28px;
        }
    }
}

.excerpts {
    padding-top: 75px;
    padding-left: 50px;
    padding-bottom: 43px;
    @media (max-width:899px) {
        padding-left: 15px;
        padding-top: 48px;
    }
    @media (max-width:767px) {
        padding-bottom: 17px;
    }
    &__content {
        display: flex;
        gap: 38px;
        @media (max-width:899px) {
            flex-wrap: wrap;
            flex-direction: column;
        }
    }

    &__miesvand {
        flex: 0 0 47%;
        @media (max-width:1023px) {
            flex: 0 0 60%;
        }
        @media (max-width:899px) {
            flex: 1;
            margin: 0 auto;
            max-width: 511px;
        }
        @media (max-width:539px) {
            margin: 0 0;
        }
    }

    &__miesvand-pic {
        position: relative;
        & img {
            width: 100%;
            @media (max-width:539px) {
                max-height: 175px;
                object-fit: cover;
            }
        }
    }

    &__miesvand-title {
        position: absolute;
        left: 32px;
        top: 39px;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        @media (max-width:539px) {
            font-weight: 400;
            font-size: 7.41667px;
            line-height: 9px;
            font-family: 'Inter';
            left: 16px;
            top: 20px;
        }
        & span {
            width: fit-content;
            &:first-child {
                margin-top: 25px;
                position: relative;
                @media (max-width:539px) {
                    margin-top: 11px;
                }
                &::after {
                    content: "";
                    width: calc(100% - 14px);
                    background: #1B1B1B;
                    height: 3px;
                    position: absolute;
                    bottom: -71px;
                    left: 0px;
                    @media (max-width:539px) {
                        height: 2px;
                        bottom: -38px;
                        width: calc(100% - 3px);
                    }
                }
            }
            display: block;
            font-weight: 900;
            font-size: 50px;
            line-height: 101%;
            @media (max-width:767px) {
                font-size: 40px;
            }
            @media (max-width:539px) {
                font-size: 27.4881px;
                line-height: 101%;
            }
        }
    }

    &__miesvand-footer {
        background: #5F1798;
        padding: 45px 32px 30px 32px;
        @media (max-width:539px) {
            padding: 20px 15px 19px 15px;
        }
    }

    &__miesvand-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        color: #FDFDFD;
        max-width: 394px;
        margin-bottom: 49px;
        @media (max-width:539px) {
            font-family: 'Inter';
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 15px;
        }
    }

    &__miesvand-btn {

    }

    &__miesvand-add {
        border: 2px solid #FDFDFD;
        max-width: 180px;
        @media (max-width:539px) {
            padding: 14px 2px;
        }
    }

    &__swiper {
        padding-top: 255px;
        @media (max-width:899px) {
            padding-top: 12px;
            max-width: 328px;
            width: 100%;
        }
    }

    &__wrapper {
        @media (max-width:1023px) {
            height: auto;
        }
    }

    &__slide {
        border-top: 3px solid #1B1B1B;
        padding-top: 39px;
        padding-right: 24px;
        height: auto;
        @media (max-width:1023px) {
            border: 1px solid #5F1798;
            border-radius: 5px;
            padding: 50px 20px 40px;
        }
        @media (max-width:899px) {
            padding: 29px 19px 14px;
        }
        &_padding {
            padding-right: 0px;
            @media (max-width:1023px) {
                padding-right: 20px;
            }
            & .excerpts__slide-title {
                padding-left: 47px;
                @media (max-width:1023px) {
                    padding-left: 0px;
                }
            }
            & .excerpts__slide-lead {
                padding-left: 47px;
                @media (max-width:1023px) {
                    padding-left: 0px;
                }
            }
        }
    }

    &__slide-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 47px;
        @media (max-width:539px) {
            font-weight: 400;
            font-family: 'Inter';
            font-size: 12px;
            line-height: 15px;
        }
        @media (max-width:899px) {
            margin-bottom: 19px;
        }
        & span {
            margin-top: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            display: block;
            @media (max-width:539px) {
                font-family: 'Inter';
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                max-width: 234px;
                margin-top: 15px;
            }
        }
    }

    &__slide-lead {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 20px;
        @media (max-width:539px) {
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
        }
        &_margin {
            margin-bottom: 74px;
            @media (max-width:899px) {
                margin-bottom: 10px;
            }
        }
    }

    &__slide-pic {
        margin-bottom: 29px;
        @media (max-width:899px) {
            margin-bottom: 10px;
        }
        & img {
            width: 100%;
            @media (max-width:539px) {
                max-height: 96px;
                object-fit: cover;
            }
        }
    }

    &__pagination {
        position: static;
    }
}
.aside {
    padding-top: 155px;
    padding-left: 50px;
    padding-bottom: 141px;
    @media (max-width:767px) {
        padding-bottom: 12px;
    }
    @media (max-width:899px) {
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width:767px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__text {
        flex: 0 0 47%;
        border-top: 3px solid #1B1B1B;
        padding-top: 59px;
        @media (max-width:899px) {
            padding-left: 20px;
            padding-right: 19px;
            margin-left: 15px;
        }
        @media (max-width:767px) {
            border-top: none;
            margin-left: 0px;
            padding-left: 35px;
        }
        @media (max-width:539px) {
            padding-top: 17px;
        }
    }

    &__title {
        margin-bottom: 37px;
        font-size: 14px;
        line-height: 14px;
        max-width: 254px;
        @media (max-width:767px) {
            position: relative;
        }
        @media (max-width:539px) {
            font-size: 12px;
            font-family: 'Inter';
            line-height: 15px;
            margin-bottom: 21px;
        }
        &::after {
            content: "";
            width: 37%;
            height: 1px;
            background: #1B1B1B;
            position: absolute;
            display: none;
            top: -15px;
            left: 0;
            @media (max-width:767px) {
                display: block;
            }
        }
        & span {
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            margin-top: 24px;
            display: block;
            @media (max-width:539px) {
                font-family: 'Inter';
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                margin-top: 14px;
                max-width: 166px;
            }
        }
    }

    &__lead {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 55px;
        @media (max-width:539px) {
            font-family: 'Inter';
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 14px;
        }
        &:nth-child(3) {
            margin-bottom: 63px;
            @media (max-width:767px) {
                margin-bottom: 0px;
            }
        }
    }

    &__add {
        max-width: 178px;
        @media (max-width:767px) {
            display: none;
        }
    }

    &__btn {
    }
    &__add_mob {
        display: none;
        padding: 15px 2px;
        @media (max-width:767px) {
            display: block;
            margin-top: 21px;
        }
    }
    &__pic {
        @media (max-width:899px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        & img {
            width: 100%;
            object-fit: cover;
            @media (max-width:767px) {
                max-width: 511px;
                display: block;
            }
            @media (max-width:479px) {
                max-height: 136px;
                object-fit: cover;
            }
        }
    }
}
