.create-w {
    background: #FDFAFF;
}
.create {
    padding-top: 117px;
    padding-bottom: 108px;
    @media (max-width:539px) {
        padding-top: 12px;
        padding-bottom: 9px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @media (max-width:899px) {
            flex-wrap: wrap-reverse;
            gap: 8px;
        }
    }

    &__info {
        flex: 0 0 39.4%;
        @media (max-width:899px) {
            max-width: 488px;
            flex: 0 0 100%;
            margin: 0 auto;
        }
    }
    &__publish {
        margin-top: 55px;
        max-width: 180px;
        @media (max-width:539px) {
            margin-top: 12px;
        }
    }
    &__title {
        margin-bottom: 44px;
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        color: #1B1B1B;
        @media (max-width:899px) {
            display: none;
        }
    }
    &__title_mob {
        display: none;
        margin-bottom: 44px;
        font-weight: 900;
        font-size: 30px;
        line-height: 30px;
        color: #1B1B1B;
        @media (max-width:899px) {
            display: block;
            margin-bottom: 0px;
        }
        @media (max-width:539px) {
            font-size: 18px;
            line-height: 18px;
        }
    }
    &__info-item {
        border-bottom: 1px solid #5F1798;
        padding-bottom: 12px;
        margin-bottom: 28px;
        position: relative;
        @media (max-width:539px) {
            padding-bottom: 4px;
            margin-bottom: 15px;
        }
        & span{
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            color: rgba(27, 27, 27, 0.8);
            @media (max-width:539px) {
                font-size: 12px;
                line-height: 125%;
                color: rgba(27, 27, 27, 0.8);
            }
        }
        & input, textarea {
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            color: #1B1B1B;
            @media (max-width:539px) {
                font-size: 12px;
                line-height: 125%;
            }
        }
        & span {
            position: absolute;
        }
        & input {
            display: block;
            width: 100%;
            background: #FDFAFF;
        }
    }

    &__social {
    }

    &__social-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 16px;
        @media (max-width:539px) {
            font-size: 12px;
            line-height: 125%;
            margin-bottom: 7px;
        }
    }

    &__social-list {
        display: flex;
        gap: 11px;
        align-items: center;
        @media (max-width:539px) {
            gap: 8px;
        }
    }

    &__social-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        &.active {
            & img {
                &:last-child {
                    opacity: 1;
                }
            }
        }
        & img {
            &:first-child {
                width: 100%;
                max-width: 50px;
                cursor: pointer;
                margin-bottom: 11px;
                @media (max-width:539px) {
                    max-width: 27px;
                    margin-bottom: 6px;
                }
            }
            &:last-child {
                transition: .2s;
                opacity: 0;
                @media (max-width:539px) {
                    max-width: 13px;
                }
            }
        }
    }
    &__slider {
        flex: 1 0 48%;
        margin-right: 0px;
        max-width: 51%;
        padding-top: 32px;
        @media (max-width:899px) {
            max-width: none;
        }
        @media (max-width:539px) {
            padding-top: 21px;
        }
    }
    &__swiper {
        padding-bottom: 42px;
        height: fit-content;
        margin-bottom: 18px;
        @media (max-width:899px) {
            max-width: 602px;
            width: 94vw;
            margin: 0 auto;
        }
        @media (max-width:539px) {
            width: 91vw;
            padding-bottom: 0px;
            margin-bottom: 14px;
        }
    }

    &__wrapper {
    }

    &__slide {
        height: auto;
        border-radius: 5px;
        cursor: pointer;
        &.active {
            background: none;
        }
        & img {
            border-radius: 5px;
            max-width: 490px;
            max-height: 421px;
            margin: 0 auto;
            width: calc(100% - 112px);
            display: block;
            height: 100%;
            object-fit: cover;
            @media (max-width:539px) {
                width: 100%;
            }
            @media (max-width:379px) {
                height: 157px;
            }
            &.border {
                border: 1px solid #5F1798;
            }
        }
    }

    &__pagination {
        @media (max-width:899px) {
            position: static;
        }
    }

    &__prev {
        @media (max-width:539px) {
            display: none;
        }
    }

    &__next {
        @media (max-width:539px) {
            display: none;
        }
    }

    &__add, &__change {
        max-width: 205px;
        max-height: 64px;
        padding: 31px 2px;
        @media (max-width:899px) {
            max-width: none;
        }
    }
    &__change {
    }
    &__slider-footer {
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        padding-right: 55px;
        @media (max-width:899px) {
            padding-right: 0px;
            justify-content: center;
            max-width: 488px;
            margin: 0 auto 10px;
        }
        @media (max-width:539px) {
            display: none;
        }
        & input {
            display: none;
        }
    }
}
.create-description {
    border-bottom: none;
    margin-bottom: 12px;
    @media (max-width:539px) {
        margin-bottom: 9px;
    }
    & span {
        left: 14px;
        top: 15px;
        @media (max-width:539px) {
            left: 9px;
            top: 10px;
        }
    }
}
.create-description__field {
    width: 100%;
    height: 92px;
    resize: none;
    border: 1px solid #5F1798;
    border-radius: 10px;
    background: #FDFAFF;
    @media (max-width:539px) {
        height: 57px;
    }
}
.create__change {
    background: #FDFAFF;
}
.create-name__field {
    padding-left: 75px;
    @media (max-width:539px) {
        padding-left: 59px;
    }
}
.create-price__field {
    padding-left: 88px;
    @media (max-width:539px) {
        padding-left: 68px;
    }
}
.create-size__field {
    padding-left: 65px;
    @media (max-width:539px) {
        padding-left: 51px;
    }
}
.create-material__field {
    padding-left: 82px;
    @media (max-width:539px) {
        padding-left: 64px;
    }
}
.create-description__field {
    padding: 14px 20px 20px 94px;
    @media (max-width:539px) {
        padding: 9px 20px 20px 71px;
    }
}
.create__social-item {
    &:nth-child(3) {
        & img {
            &:first-child {
                @media (max-width:539px) {
                    max-width: 31px;
                }
            }

        }
    }
}
