.footer {
    padding-bottom: 42px;
    padding-top: 38px;
    @media (max-width:539px) {
        padding-bottom: 21px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        @media (max-width:767px) {
            flex-direction: column;
            align-items: center;
        }
        @media (max-width:539px) {
            gap: 10px;
        }
    }

    &__logo {
    }

    &__nav {
    }
    & .nav__about {
        @media (max-width:767px) {
            display: none;
        }
    }
    & .nav__action {
        @media (max-width:539px) {
            font-size: 12px;
            line-height: 12px;
        }
    }
}
.footer-w {
    background: #FDFDFD;
}
