.header-w {
      background: #FDFDFD;
}
.header {
    padding-top: 38px;
    padding-bottom: 38px;
    @media (max-width: 539px) {
      padding-top: 18px;
    }
		&__content {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
		}

		&__logo {
		}

		&__nav {
      @media (max-width:767px) {
        display: none;
      }
		}
}
.logo {
    font-weight: 900;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    @media (max-width: 539px) {
      font-size: 12px;
      line-height: 12px;
    }
}
.nav {
    font-size: 15px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex: 1;
    max-width: 324px;
      &__about {

      }

      &__action {
      display: flex;
      }

      &__action-item {
      color: #5F1798;
      transition: .2s;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid #5F1798;
      }
      }

      &__reg {
      }

      &__log {
      }
}
.authorization {
      &__content {
        max-height: calc(98vh - 20px);
        overflow-y: auto;
        background: #ffffff;
        border-radius: 15px;
        position: fixed;
        width: 95%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 387px;
        padding-top: 40px;
        padding-left: 43px;
        padding-right: 43px;
        padding-bottom: 40px;
        z-index: 105;
        @media (max-width: 539px) {
          padding-left: 31px;
          padding-right: 31px;
        }
      }
    
      &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 134.6%;
            margin-bottom: 49px;
      }
    
      &__form {
      }
    
      &__info {
      }
    
      &__mail {
        margin-bottom: 23px;
      }
    
      &__info-item {
      }
    
      &__password {
      }
    
      &__password-confirm {
      }
    
      &__create-btn {
        margin-top: 26px;
        padding: 29px 2px;
        max-width: none;
      }
    
      &__footer {
        margin-top: 20px;
      }
    
      &__reg {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        gap: 16px;
      }
    
      &__reg-btn {
        font-size: 12px;
        line-height: 14px;
        color: #298CFF;
        border-bottom: 1px solid #298CFF;
        cursor: pointer;
      }
    }
    .popup-close {
      position: absolute;
      width: 20px;
      height: 20px;
      background: url(../img/icons/exit.svg);
      background-repeat: no-repeat;
      background-size: cover;
      top: 20px;
      right: 20px;
      cursor: pointer;
      transition: .2s;
      &:hover {
        scale: 1.15;
      }
    }
    .registration {
      &__content {
        max-height: calc(98vh - 20px);
        overflow-y: auto;
        background: #ffffff;
        border-radius: 15px;
        position: fixed;
        width: 95%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 386px;
        padding-top: 40px;
        padding-left: 42px;
        padding-right: 43px;
        padding-bottom: 40px;
        z-index: 105;
        @media (max-width: 539px) {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
      &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 134.6%;
            margin-bottom: 49px;
      }
    
      &__form {
      }
    
      &__info {
      }
    
      &__mail {
        margin-bottom: 22px;
      }
      &__info-item {
        padding-right: 5px;
      } 
      &__password {
        margin-bottom: 16px;
        padding-right: 25px;
      }
    
      &__password-confirm {
        padding-right: 25px;
      }
    
      &__roles {
        display: flex;
        margin-top: 30px;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 22px;
      }
    
    
      &__organizer {
      }
    
      &__sponsor {
      }
    
      &__create-btn {
            max-width: none;
            margin-top: 26px;
            padding: 29px 2px;
      }
    
      &__footer {
        margin-top: 20px;
      }
    
      &__login {
        font-size: 12px;
        line-height: 14px;
        display: flex;
        gap: 16px;
      }
    
      &__login-btn {
        font-size: 12px;
        line-height: 14px;
        color: #298CFF;
        border-bottom: 1px solid #298CFF;
        cursor: pointer;
      }
    }
    .password-eye {
      position: relative;
    }
    .password-control {
      position: absolute;
      right: 5px;
      top: 8px;
      cursor: pointer;
      & img {
        &:first-child {
    
        }
        &:last-child {
          display: none;
        }
      }
      &.active {
        & img {
          &:first-child {
            display: none;
          }
          &:last-child {
            display: block;
          }
        }
      }
    }
.input_purple {
      border-bottom: 1px solid #5F1798;
      width: 100%;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      padding-bottom: 5px;
}
.nav-icon {
  width: 40px;
  height: 21px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}
.nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #002850;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 3px;
}
.nav-icon span:nth-child(2) {
  top: 10px;
  margin-left: 8px;
  width: 32px;
}
.nav-icon span:nth-child(3) {
  top: 18px;
}
.nav-icon.open span {
  left: 7px;
}
.nav-icon.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
  max-width: 30px;
}
.nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
.nav-icon.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
  max-width: 30px;
}
.header__menu {
  display: none;
  @media (max-width: 767px) {
        display: block;
  }
}

.header-m {
  z-index: 105;
  background: #c7d9e3;
  position: fixed;
  width: 74%;
  max-width: 400px;
  top: 0px;
  left: -100%;
  transition: .2s;
  padding: 40px 20px 20px;
  height: 100vh;
  @media (max-width: 539px) {
    padding: 40px 10px 20px;
  }
  &.active {
        left: 0;
  }
  &__content {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        height: 100%;
  }

  &__nav {
        margin-bottom: 20px;
  }
  &__footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
  }
  &__nav-item {
        display: block;
        width: fit-content;
        font-weight: 500;
        &:not(:last-child) {
              margin-bottom: 30px;
        }
  }

  &__social {
        display: flex;
        gap: 10px;
  }

  &__social-item {
        display: block;
  }

  &__phone {
        display: flex;
        align-items: center;
        margin-top: 20px;
        gap: 5px;
  }
}