.profile {

    &__lead {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
        & p {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: rgba(136, 136, 136, 0.8);
        }
    }

    &__verification-list {
    }

    &__verification-item {
        background: #EDE7FF;
        border-radius: 8px;
        font-family: 'Inter';
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        gap: 5px;
        align-items: center;
    }
}
