.profile-w {
    background: #F6EBFF;
}
#avatar {
    display: none;
}
.profile {
    padding-bottom: 90px;
    padding-top: 64px;
    position: relative;
    @media (max-width:767px) {
        padding-top: 164px;
    }
    @media (max-width:539px) {
        padding-top: 91px;
        padding-bottom: 0px;
    }
    &__content {
        display: flex;
        gap: 30px;
        @media (max-width:767px) {
            flex-direction: column-reverse;
        }
        @media (max-width:539px) {
            gap: 15px;
        }
    }

    &__col {
        flex: 0 0 32%;
        display: flex;
        flex-direction: column;
    }

    &__col-item {
        background: #FFFFFF;
        border-radius: 10px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__me {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 54px;
        margin-bottom: 30px;
        padding-bottom: 50px;
        @media (max-width:767px) {
            top: 3%;
            position: absolute;
            z-index: 1;
            background: none;
            padding: 0px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
        @media (max-width:539px) {
            top: 5%;
        }
    }
    &__me-subtitle {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: rgba(27, 27, 27, 0.8);
        margin-bottom: 26px;
        @media (max-width:767px) {
            margin-bottom: 5px;
        }
        @media (max-width:539px) {
            font-size: 12px;
            line-height: 125%;
        }
    }

    &__me-pic {
        margin-bottom: 30px;
        position: relative;
        @media (max-width:767px) {
            width: 100%;
            margin: 0 auto 10px;
            display: flex;
            justify-content: center;
        }
        & img {
            width: 100%;
            max-width: 200px;
            max-height: 200px;
            @media (max-width:767px) {
                width: 30%;
                max-width: 185px;
            }
            @media (max-width:539px) {
                width: 25%;
            }
        }
    }

    &__me-camera {
        position: absolute;
        background: #5F1798;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 58px;
        height: 58px;
        right: 5px;
        bottom: -12px;
        cursor: pointer;
        @media (max-width:767px) {
            right: calc(50% - 50px);
            width: 40px;
            height: 40px;
            bottom: -10px;
        }
        @media (max-width:539px) {
            width: 23px;
            height: 23px;
            right: calc(50% - 38px);
            bottom: -4px;
        }
        & img {
            @media (max-width:767px) {
                width: 100%;
                max-width: 25px;
                max-height: 25px;
            }
            @media (max-width:539px) {
                width: 100%;
                max-width: 16px;
                max-height: 16px;
            }
            width: 28px;
            height: 28px;
        }
    }

    &__me-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        text-align: center;
        @media (max-width:539px) {
            font-size: 14px;
            line-height: 14px;
        }
    }

    &__help {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 36px;
        flex: 1;
        @media (max-width:539px) {
            background: none;
            padding-top: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    &__help-pic {
        margin-bottom: 18px;
        @media (max-width:539px) {
            display: none;
        }
        & img {
            max-width: 115px;
        }
    }

    &__help-title {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 25px;
        @media (max-width:539px) {
            display: none;
        }
    }

    &__help-lead {
        text-align: center;
        max-width: 250px;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 33px;
        @media (max-width:539px) {
            display: none;
        }
    }

    &__help-btn {
        max-width: 282px;
    }

    &__sidebar {
        flex: 1;
    }

    &__sidebar-item {
        background: #FFFFFF;
        border-radius: 10px;
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__verification-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #000000;
        margin-bottom: 20px;
        @media (max-width:539px) {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 13px;
        }
    }

    &__verification-subtitles {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
        @media (max-width:539px) {
            gap: 4px;
        }
    }

    &__verification-lead {
        font-size: 14px;
        line-height: 125%;
        color: rgba(27, 27, 27, 0.8);
        flex: 1 0 48%;
        @media (max-width:539px) {
            max-width: 236px;
        }
        &:first-child {
            flex: 1 0 48%;
            @media (max-width:539px) {
                font-size: 10px;
                line-height: 125%;
            }
        }
        &:nth-child(2) {
            @media (max-width:767px) {
                order: 1;
            }
            @media (max-width:539px) {
                font-weight: 400;
                font-size: 8px;
                line-height: 125%;
            }
        }
    }

    &__verification-range {
        margin-top: 20px;
        display: flex;
        flex: 0 0 100%;
        @media (max-width:539px) {
            margin-top: 5px;
            margin-bottom: 2px;
        }
    }

    &__range-item {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            flex:  0 0 25%;
        }
        &.completed {
            & .profile__range-circle {
                background: #5F1798;
                border: 2px solid #5F1798;
                @media (max-width:539px) {
                    border: 1px solid #5F1798;
                }
                &::before {
                    background: url(../img/icons/check.svg) 0 0 no-repeat;
                    background-size: cover;
                    border: none;
                    width: 15px;
                    height: 15px;
                    @media (max-width:539px) {
                        width: 7px;
                        height: 7px;
                    }
                }
            }
        }

        &.during {
            & .profile__range-circle {
                &::before {
                    background: #5F1798;
                    border: 2px solid #5F1798;
                    width: 10px;
                    height: 10px;
                    @media (max-width:539px) {
                        width: 5px;
                        height: 5px;
                    }
                }
            }
        }
    }
    &__range-circle {
        position: relative;
        width: 28px;
        height: 28px;
        min-width: 28px;
        min-height: 28px;
        background: #FFFFFF;
        border: 2px solid #D9D9D9;
        border-radius: 50%;
        @media (max-width:539px) {
            width: 12px;
            height: 12px;
            min-width: 12px;
            min-height: 12px;
        }
        &::before {
            border-radius: 50%;
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: 2px solid #D9D9D9;
            width: 8px;
            height: 8px;
            @media (max-width:539px) {
                width: 3.5px;
                height: 3.5px;
            }
        }
    }
    
    &__verification {
        padding-left: 43px;
        padding-bottom: 70px;
        margin-bottom: 30px;
        padding-right: 70px;
        @media (max-width:767px) {
            padding-top: 23%;
        }
        @media (max-width:539px) {
            padding-top: 34%;
            padding-left: 15px;
            padding-right: 28px;
            padding-bottom: 20px;
            margin-bottom: 11px;
        }
    }

    &__range-line {
        background: #5F1798;
        height: 2px;
        width: 100%;
    }

    &__action {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 43px;
        @media (max-width:767px) {
            padding-top: 18px;
            padding-bottom: 0px;
        }
    }

    &__action-bar {
        padding-left: 43px;
        padding-right: 43px;
        border-bottom: 1px solid #D9D9D9;
        display: flex;
        gap: 40px;
        margin-bottom: 40px;
        padding-bottom: 15px;
        @media (max-width:767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (max-width:539px) {
            flex-wrap: wrap;
            border-bottom: none;
            margin-bottom: 0px;
            gap: 0px;
        }

    }
    &__action-title {
        font-family: 'HelveticaNeueCyr';
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: #000000;
        display: none;
        padding-left: 15px;
        margin-bottom: 16px;
        @media (max-width:539px) {
            display: block;
        }
    }
    &__action-bar-item {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #D9D9D9;
        cursor: pointer;
        position: relative;
        @media (max-width:539px) {
            font-size: 10px;
            line-height: 10px;
            color: #000000;
            font-weight: 400;
            font-family: 'HelveticaNeueCyr';
            flex: 0 0 100%;
            padding: 6px 0px;
        }
        &::before {
            content: "";
            position: absolute;
            background: url(../img/icons/check_purple.svg);
            background-repeat: no-repeat;
            background-size: cover;
            right: 0;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            display: none;
            width: 8px;
            height: 5px;
            @media (max-width:539px) {
                display: block;
            }
        }
        &.active {
            color: #000000;
            @media (max-width:539px) {
                background: #FAFAFA;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background: #5F1798;
                bottom: -16px;
                left: 0px;
                cursor: auto;
                @media (max-width:539px) {
                    display: none;
                }
            }
        }
    }

    &__action-content {
        padding-left: 43px;
        padding-right: 43px;
        @media (max-width:767px) {
            padding-left: 15px;
            padding-right: 15px;
        }
        @media (max-width:539px) {
            position: fixed;
            background: #ffffff;
            z-index: 2;
            top: 0px;
            left: 0;
            width: 100%;
            // height: 100vh;
            overflow-y: auto;
            display: none;
        }
        &.active {
            display: block;
        }
    }
    & 
    &__action-item {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 40px;
        @media (max-width:539px) {
            row-gap: 19px;
        }
    }

    &__action-info {
        @media (max-width:539px) {
            flex-direction: column;
        }
    }

    &__action-title_mob {
        display: none;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        align-items: center;
        padding-top: 3px;
        margin-bottom: 4px;
        @media (max-width:539px) {
            display: flex;
        }
        & b {
            text-align: center;
            flex: 1;
            padding-right: 39px;
            display: block;
        }
    }
    &__action-back_mob {
        display: flex;
        font-size: 10px;
        line-height: 10px;
        color: rgba(27, 27, 27, 0.5);
        gap: 1px;
        cursor: pointer;
        & img {
            transform: rotate(90deg);
        }
    }
    &__info-item {
        flex: 0 0 calc(50% - 15px);
        & textarea {
            padding: 8px 43px 22px 12px;
            resize: none;
            border: 1px solid #D9D9D9;
            border-radius: 5px;
            font-size: 12px;
            line-height: 12px;
            color: #000000;
            height: 138px;
            width: 100%;
            @media (max-width:539px) {
                font-family: 'Inter';
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                color: #000000;
                padding: 11px 31px 22px 14px;
                height: 126px;
            }
        }
    }

    &__info-name {

    }
    &__birthday-list {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__phone-list {
        display: flex;
        justify-content: space-between;
        gap: 7px;
    }
    &__item-subtitle {
        font-size: 12px;
        line-height: 12px;
        color: rgba(27, 27, 27, 0.5);
        margin-bottom: 10px;
        @media (max-width:539px) {
            font-size: 10px;
            line-height: 10px;
            margin-bottom: 5px;
        }
    }



    &__item-field {
        position: relative;
        font-size: 14px;
        line-height: 14px;
        color: #000000;
        border-bottom: 1px solid #D9D9D9;
        padding-bottom: 6px;
        width: 100%;
        @media (max-width:539px) {
            font-family: 'Inter';
            font-size: 12px;
            line-height: 15px;
            color: #000000;
        }
        & input {
            width: 100%;
            font-size: 14px;
            line-height: 14px;
            color: #000000;
            @media (max-width:539px) {
                font-family: 'Inter';
                font-size: 12px;
                line-height: 15px;
                color: #000000;
            }
        }
    }

    &__item-field-name {
    }

    &__info-email {
    }

    &__item-field-email {
    }

    &__info-birthday {
    }

    &__item-field-birthday {
    }

    &__day {
        max-width: 59px;
        @media (max-width:539px) {
            max-width: 53px;
            margin-right: 2px;
        }
    }

    &__month {
        max-width: 100px;
        @media (max-width:539px) {
            max-width: 91px;
        }
    }

    &__year {
        max-width: 79px;
        @media (max-width:539px) {
            max-width: 69px;
        }
    }

    &__info-phone {
    }

    &__item-field-phone {
    }

    &__code {
        max-width: 100px;
        @media (max-width:539px) {
            max-width: 90px;
        }
    }

    &__phone {
    }

    &__info-description {
        & .profile__item-subtitle {
            @media (max-width:539px) {
                margin-bottom: 12px;
            }
        }
    }

    &__field-description {
    }

    &__info-regalia {
        & .profile__item-subtitle {
            @media (max-width:539px) {
                margin-bottom: 12px;
            }
        }
    }

    &__field-regalia {
    }
}
.profile__subtitle-birthday, .profile__subtitle-phone {
    margin-bottom: 16px;
}
.profile__field-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile__field-arrow {
    width: 8px;
    height: 5px;
    margin-top: 7px;
    display: block;
    margin-right: 1px;
    cursor: pointer;
    transition: .2s;
}
.profile__flag {
    width: 26px;
    height: 17px;
    margin-right: 11px;
    @media (max-width:539px) {
        width: 23px;
        height: 16px;
        margin-right: 9px;
    }
}

.profile {

    &__drop-days {
    }

    &__drop {
        display: none;
        padding: 5px 0;
        top: 24px;
        right: 0;
        position: absolute;
        width: 100%;
        background: #FFFFFF;
        height: 150px;
        overflow-y: auto;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        z-index: 3;
    }

    &__drop-item {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__drop-item-days {
    }
}

.profile__drop::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 3px; /* высота для горизонтального скролла */
    background-color: #ffffff;
}

/* ползунок скроллбара */
.profile__drop::-webkit-scrollbar-thumb {
    background-color: #f6ebff;
    border-radius: 9em;
}

.profile__drop::-webkit-scrollbar-thumb:hover {
    background-color: #e0cfee;
}

/* Стрелки */


.profile__item-field {
    &.active {
        & .profile__field-arrow {
            transform: rotate(180deg);
        }
        & .profile__drop {
            display: block;
        }
    }
}
.profile__drop-item-codes {
    gap: 5px;
    justify-content: flex-start;
}
.profile__subtitle-birthday {
    @media (max-width:539px) {
        margin-bottom: 12px;
    }
}
.profile__subtitle-phone {
    @media (max-width:539px) {
        margin-bottom: 9px;
    }
}
.profile {

    &__footer {

        &_mob {
            padding: 50px 15px 20px;
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            @media (max-width:539px) {
                display: flex;
            }
            & .nav__action {
                font-size: 12px;
                line-height: 12px;
            }
        }

    }

    &__footer-logo {
    }
}

.profile__header_mob {
    padding-top: 16px;
    margin-bottom: 39px;
    display: none;
    @media (max-width:539px) {
        display: block;
    }
}